<div class="col-sm-10">
  <div class="row">
    <ba-card title="操作">
      <button class="btn btn-default" (click)="uploadFileModal.show()">批量导入</button>
      <button class="btn btn-default" (click)="studentForm.show()">添加学生</button>
    </ba-card>
  </div>

  <div class="row">
    <ba-card title="搜索">
      <form [formGroup]="searchParamsForm">
        <table width="100%">
          <tbody>
          <tr>
            <td><input formControlName="studentNumber" type="number" class="form-control" placeholder="学号"></td>
            <td><input formControlName="name" type="text" class="form-control" placeholder="姓名"></td>
            <td><select [formControl]="schoolId" class="form-control" title="学院" (change)="schoolChanged()">
              <option value="0">请选择学院</option>
              <option *ngFor="let school of dataService.school" value="{{school.id}}" >{{school.name}}</option>
            </select></td>
            <td><select [formControl]="specialtyId" class="form-control" title="专业" (change)="specialtyChanged()">
              <option value="0">请选择专业</option>
              <option *ngFor="let specialty of searchParamsForm.value.schoolId | schoolSpecialty:dataService.specialty"
                      value="{{specialty.id}}">
                {{specialty.name}}
              </option>
            </select></td>
            <td><select [formControl]="grade" class="form-control" title="年级" (change)="gradeChanged()">
                <option value="0">请选择年级</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
              </select></td>
            <td><select [formControl]="classId" class="form-control" title="班级">
                <option value="0">请选择班级</option>
                <option *ngFor="let classInfo of searchParamsForm.value.specialtyId | specialtyGradeClass:searchParamsForm.value.grade:dataService.classInfo"
                        value="{{classInfo.id}}">
                  {{classInfo.name}}
                </option>
              </select></td>
            <td><button class="btn btn-default" (click)="getStudentList()">搜索</button></td>
          </tr>
          </tbody>
        </table>
      </form>


    </ba-card>
  </div>

  <div class="row">
    <ba-card title="学生信息">
      <table class="info-table">
        <thead>
          <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>学院</th>
            <th>专业</th>
            <th>年级</th>
            <th>班级</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{student.student_number}}</td>
            <td>{{student.name}}</td>
            <td>{{student.sex_id | codeName:dataService.sex}}</td>
            <td>{{student.school_id | codeName:dataService.school}}</td>
            <td>{{student.specialty_id | codeName:dataService.specialty}}</td>
            <td>{{student.grade_year}}</td>
            <td>{{student.class_id | codeName:dataService.classInfo}}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <pagination [boundaryLinks]="true"
                    [totalItems]="totalCount"
                    [ngModel]="currentPage"
                    class="pagination-sm"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;"
                    [maxSize]="maxSize"
                    (pageChanged)="pageChanged($event)"
        ></pagination>
      </div>

    </ba-card>
  </div>

</div>

<div class="modal fade" bsModal #uploadFileModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="uploadFileModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">上传文件/批量导入</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group row">
            <label for="file" class="col-md-2 form-control-label">文件</label>
            <div class="col-md-10">
              <input #fileInput id="file" class="form-control" type="file" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="uploadFile(fileInput.files);uploadFileModal.hide()">确定</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #studentForm="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="studentForm.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">学生</h4>
      </div>
      <div class="modal-body">
        <student-form (commit)="adminCreateStudent($event); studentForm.hide()"></student-form>
      </div>
    </div>
  </div>
</div>
