<div class="col-sm-10">
  <div class="row">
    <ba-card title="操作">
      <button class="btn btn-default" (click)="uploadFileModal.show()">批量导入</button>
      <button class="btn btn-default" (click)="teacherForm.show()">添加教师</button>
    </ba-card>
  </div>

  <div class="row">
    <ba-card title="搜索">
      <form [formGroup]="searchParamsForm">
        <table width="100%">
          <tbody>
          <tr>
            <td><input formControlName="teacherNumber" type="number" class="form-control" placeholder="教师号"></td>
            <td><input formControlName="name" type="text" class="form-control" placeholder="姓名"></td>
            <td><select formControlName="schoolId" class="form-control" title="学院" (change)="schoolChanged()">
              <option value="0">请选择学院</option>
              <option *ngFor="let school of dataService.school" value="{{school.id}}" >{{school.name}}</option>
            </select></td>
            <td><select [formControl]="specialtyId" class="form-control" title="专业">
              <option value="0">请选择专业</option>
              <option *ngFor="let specialty of searchParamsForm.value.schoolId | schoolSpecialty:dataService.specialty"
                      value="{{specialty.id}}">
                {{specialty.name}}
              </option>
            </select></td>
            <td><select formControlName="professionalTitleId" class="form-control" title="职称">
              <option value="0">请选择职称</option>
              <option *ngFor="let professionalTitle of dataService.professionalTitle" value="{{professionalTitle.id}}">{{professionalTitle.name}}</option>
            </select></td>
            <td><button class="btn btn-default" (click)="getTeacherList()">搜索</button></td>
          </tr>
          </tbody>
        </table>
      </form>
    </ba-card>
  </div>

  <div class="row">
    <ba-card title="教师信息">
      <table class="info-table">
        <thead>
        <tr>
          <th>教师号</th>
          <th>姓名</th>
          <th>性别</th>
          <th>职称</th>
          <th>学院</th>
          <th>专业</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let teacher of teachers">
          <td>{{teacher.teacher_number}}</td>
          <td>{{teacher.name}}</td>
          <td>{{teacher.sex_id | codeName:dataService.sex}}</td>
          <td>{{teacher.professional_title_id | codeName:dataService.professionalTitle}}</td>
          <td>{{teacher.school_id | codeName:dataService.school}}</td>
          <td>{{teacher.specialty_id | codeName:dataService.specialty}}</td>
        </tr>
        </tbody>
      </table>
      <div class="text-center">
        <pagination [boundaryLinks]="true"
                    [totalItems]="totalCount"
                    [ngModel]="currentPage"
                    class="pagination-sm"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;"
                    [maxSize]="maxSize"
                    (pageChanged)="pageChanged($event)"
        ></pagination>
      </div>

    </ba-card>
  </div>

</div>

<div class="modal fade" bsModal #uploadFileModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="uploadFileModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">上传文件/批量导入</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group row">
            <label for="file" class="col-md-2 form-control-label">文件</label>
            <div class="col-md-10">
              <input #fileInput id="file" class="form-control" type="file" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="uploadFile(fileInput.files);uploadFileModal.hide()">确定</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #teacherForm="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="teacherForm.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">教师</h4>
      </div>
      <div class="modal-body">
        <teacher-form (commit)="adminCreateTeacher($event); teacherForm.hide()"></teacher-form>
      </div>
    </div>
  </div>
</div>
