<div class="row">
  <div class="col-sm-12 col-md-10 offset-md-1">

    <ba-card>
      <button class="btn btn-success" (click)="back()">返回题目列表</button>
    </ba-card>

    <ba-card>
      <form class="form-horizontal" [formGroup]="formGroup">

        <div class="form-group row">
          <label for="ktmc" class="col-md-2 form-control-label">课题名称:</label>
          <div class="col-md-10">
            <input formControlName="title" type="text" class="form-control" id="ktmc">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 form-control-label">课题来源:</label>
          <div class="col-md-10">
            <select formControlName="projectSource" class="form-control">
              <option value="0">请选择课题来源</option>
              <option *ngFor="let projectSource of dataService.projectSource" value="{{projectSource.id}}">{{projectSource.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 form-control-label">课题性质:</label>
          <div class="col-md-10">
            <select formControlName="projectProperty" class="form-control">
              <option value="0">请选择课题性质</option>
              <option *ngFor="let projectProperty of dataService.projectProperty" value="{{projectProperty.id}}">{{projectProperty.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="instructor" class="col-md-2 form-control-label">指导老师:</label>
          <div class="col-md-10">
            <table width="100%">
              <tbody>
              <tr>
                <td width="10%"><button class="btn btn-default" id="instructor" (click)="teachersModal.show()">选择老师</button></td>
                <td>
                  <span class="my-label col-sm-1" *ngIf="selectedTeachers.length == 0">未选择</span>
                  <span class="my-label col-sm-1" *ngFor="let teacher of selectedTeachers">{{teacher.name}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 form-control-label">组员:</label>
          <div class="col-md-10">
            <table width="100%">
              <tbody>
              <tr>
                <td width="10%">
                  <button class="btn btn-default" (click)="studentsModal.show()">编辑组员</button>
                </td>
                <td>
                  <span class="my-label col-sm-1" *ngIf="selectedStudents.length == 0">未选择</span>
                  <span class="my-label col-sm-1" *ngFor="let student of selectedStudents">{{student.name}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="form-group row">
          <label for="ktnr" class="col-md-2 form-control-label">课题内容:</label>
          <div class="col-md-10">
            <ckeditor formControlName="description" id="ktnr" [config]="editorConfig"></ckeditor>
          </div>
        </div>

        <div class="text-center">
          <button class="btn btn-info btn-lg" (click)="commit()">提交</button>
        </div>

      </form>
    </ba-card>

  </div>
</div>

<div class="modal fade" bsModal #teachersModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="teachersModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">请选择</h4>
      </div>
      <div class="modal-body">
        <!--<txxx-teacher-selector [multiSelected]="true" [(selectedTeachers)]="selectedTeachers"></txxx-teacher-selector>-->
      </div>
      <div class="modal-footer">
        <button class="btn btn-info" (click)="teachersModal.hide()">确认</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #studentsModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="studentsModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">请选择</h4>
      </div>
      <div class="modal-body">
        <!--<student-selector [(selectedStudents)]="selectedStudents"></student-selector>-->
      </div>
      <div class="modal-footer">
        <button class="btn btn-info" (click)="studentsModal.hide()">确认</button>
      </div>
    </div>
  </div>
</div>
