.list {
  width: 100%;
  td,th {
    padding: 10px 10px 10px 10px;
    text-align: center;
  }
  thead {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .list-item:hover {
    background-color: lightblue;
    color: #000000;
  }

  .list-item-selected {
    background: lightskyblue;
    color: #000000;
  }
}
