<ba-card>
  <div class="row text-center">
    <form [formGroup]="paramsForm">
      <input formControlName="name" type="text" placeholder="请填写名称">
      <select formControlName="schoolId" (change)="schoolChanged()">
        <option value="0">请选择学院</option>
        <option *ngFor="let school of dataService.school" value="{{school.id}}">
          {{school.name}}
        </option>
      </select>
      <select [formControl]="specialtyId">
        <option value="0">请选择专业</option>
        <option *ngFor="let specialty of paramsForm.value.schoolId | schoolSpecialty:dataService.specialty" value="{{specialty.id}}">
          {{specialty.name}}
        </option>
      </select>
      <button class="btn btn-default" (click)="getInterestList()">搜索</button>
    </form>
  </div>
  <div class="row">
    <table class="list">
      <thead>
      <tr>
        <td>学院</td>
        <td>专业</td>
        <td>名称</td>
        <td>是否选择</td>
      </tr>
      </thead>
      <tbody>
      <tr role="button" *ngFor="let interest of interests" class="list-item" (click)="interestClicked(interest)">
        <td>
          {{interest.school_id | codeName: dataService.school}}
        </td>
        <td>
          {{interest.specialty_id | codeName: dataService.specialty}}
        </td>
        <td>
          {{ interest.name }}
        </td>
        <td>
          <i class="ion-android-done" *ngIf="isSelected(interest) != -1"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row text-center">
    <pagination [boundaryLinks]="true"
                [totalItems]="totalCount"
                [ngModel]="currentPage"
                class="pagination-sm"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;"
                (pageChanged)="pageChanged($event)"
                [maxSize]="maxSize"
    ></pagination>
  </div>
  <p style="color: red">Tips:点击已选中的即可取消选择</p>
  <div class="row">
    <span class="label" *ngFor="let interest of selectedInterests">{{interest.name}}</span>
  </div>
</ba-card>
