.modal {
  padding-top: 10px;

  .modal-content {
    color: #000000;

    .modal-header {
      border: none;
    }

    .modal-footer {
      border: none;
    }

    .close {
      outline: none;
    }
  }

  .card {
    background-color: rgba(0,0,0,0.6);
  }
}

.modal-buttons .btn {
  margin-right: 20px;
}

.form-group {
  .form-control-label {
    color: rgba(0,0,0,1);
  }

  .form-control {
    color: rgba(0,0,0,1);
    border-color: rgba(0,0,0,1);
  }
}
