<ba-card>
  <div class="row text-center">
    <form [formGroup]="paramsForm">
      <input formControlName="name" type="text" placeholder="请输入姓名">
      <input formControlName="studentNumber" type="text" placeholder="请输入学号">
      <select formControlName="schoolId" (change)="schoolChanged()">
        <option value="0">请选择学院</option>
        <option *ngFor="let school of dataService.school" value="{{school.id}}">{{school.name}}</option>
      </select>
      <select [formControl]="specialtyId">
        <option value="0">请选择专业</option>'
        <option *ngFor="let specialty of paramsForm.value.schoolId|schoolSpecialty:dataService.specialty" value="{{specialty.id}}">
          {{specialty.name}}
        </option>
      </select>
      <button class="btn btn-info" (click)="getStudentList()">搜索</button>
    </form>
  </div>
  <div class="row">
    <table class="my-list">
      <thead>
      <tr>
        <th>学号</th>
        <td>姓名</td>
        <td>学院</td>
        <td>专业</td>
        <td>是否选择</td>
      </tr>
      </thead>
      <tbody>
      <tr role="button" *ngFor="let student of studentList" class="list-item" (click)="studentClicked(student)">
        <td>
          {{ student['student_number'] }}
        </td>
        <td>
          {{ student['name'] }}
        </td>
        <td>
          {{student['school_id'] | codeName:dataService.school}}
        </td>
        <td>
          {{student['specialty_id'] | codeName:dataService.specialty}}
        </td>
        <td>
          <i class="ion-android-done" *ngIf="isSelected(student) != -1"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row text-center">
    <pagination [boundaryLinks]="true"
                [totalItems]="totalCount"
                [ngModel]="currentPage"
                class="pagination-sm"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;"
                (pageChanged)="pageChanged($event)"
                [maxSize]="maxSize"
    ></pagination>
  </div>
  <p style="color: red">Tips:点击已选中的即可取消选择</p>
  <div class="row">
    <span class="my-label col-sm-1" *ngFor="let student of selectedStudents" role="button" (click)="unSelectStudent(student)">{{student.name}}</span>
  </div>
</ba-card>
