<div class="row">
  <div class="col-sm-12">
    <ba-card>
      <form class="form-horizontal" [formGroup]="formGroup">

        <div class="form-group row">
          <label for="ktmc" class="col-md-2 form-control-label">课题名称:</label>
          <div class="col-md-10">
            <input formControlName="title" type="text" class="form-control" id="ktmc" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="label" class="col-md-2 form-control-label">标签:</label>
          <div class="col-md-10" id="label">
            <ng-select  [multiple]="true"
                        [items]="interestNames"
                        (data)="interestChanged($event)"
                        placeholder="选择标签"></ng-select>
          </div>
        </div>

        <div class="form-group row">
          <label for="ktnr" class="col-md-2 form-control-label">课题说明:</label>
          <div class="col-md-10">
            <ckeditor class="form-control" formControlName="description" id="ktnr" [config]="editorConfig" required></ckeditor>
          </div>
        </div>

        <div class="form-group row">
          <label for="ckzl" class="col-md-2 form-control-label">参考资料:</label>
          <div class="col-md-10">
            <table width="100%">
              <tbody>
              <tr>
                <td><input type="file" class="form-control" id="ckzl"></td>
                <td>
                  <button class="btn btn-info" style="margin-left: 10px; margin-right: 10px">上传</button>
                  <span>未上传</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="text-center">
          <button class="btn btn-lg btn-info" [disabled]="!formGroup.valid" (click)="commit()">提交</button>
        </div>

      </form>
    </ba-card>
  </div>
</div>
