<ba-card>
  <form class="form-horizontal" [formGroup]="formGroup">
    <div class="form-group row">
      <label for="ktmc" class="col-md-2 form-control-label">课题名称(必填):</label>
      <div class="col-md-10">
        <input formControlName="title" type="text" class="form-control" id="ktmc" required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 form-control-label">课题来源(必填):</label>
      <div class="col-md-10">
        <select formControlName="projectSource" class="form-control">
          <option value="0">请选择课题来源</option>
          <option *ngFor="let projectSource of dataService.projectSource" value="{{projectSource.id}}">{{projectSource.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 form-control-label">课题性质(必填):</label>
      <div class="col-md-10">
        <select formControlName="projectProperty" class="form-control">
          <option value="0">请选择课题性质</option>
          <option *ngFor="let projectProperty of dataService.projectProperty" value="{{projectProperty.id}}">{{projectProperty.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="label" class="col-md-2 form-control-label">标签(选填):</label>
      <div class="col-md-10" id="label">
        <table width="100%">
          <tbody>
          <tr>
            <td width="15%">
              <button class="btn btn-default" (click)="selectInterest()">选择标签</button>
            </td>
            <td>
              <span class="my-label col-2" *ngIf="selectedInterests.length == 0">未选择</span>
              <span class="my-label col-2" *ngFor="let interest of selectedInterests">{{interest.name}}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 form-control-label">其他指导老师(选填):</label>
      <div class="col-md-10">
        <table width="100%">
          <tbody>
          <tr>
            <td width="15%">
              <button class="btn btn-default" (click)="selectTeacher()">选择老师</button>
            </td>
            <td>
              <span class="my-label col-2" *ngIf="selectedTeachers.length == 0">未选择</span>
              <span class="my-label col-2" *ngFor="let teacher of selectedTeachers">{{teacher.name}}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 form-control-label">最大成员数(必填):</label>
      <div class="col-md-10">
        <input formControlName="memberCount" type="number" class="form-control" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="ktnr" class="col-md-2 form-control-label">课题说明(必填):</label>
      <div class="col-md-10">
        <ckeditor class="form-control" formControlName="description" id="ktnr" [config]="editorConfig" required></ckeditor>
      </div>
    </div>

    <div class="text-center">
      <button class="btn btn-lg btn-success" (click)="resetForm()">重置</button>
      <button class="btn btn-lg btn-info" [disabled]="!formGroup.valid" (click)="commit()">提交</button>
      <button class="btn btn-lg btn-danger" *ngIf="projectId != null" (click)="deleteProject()">删除</button>
    </div>

  </form>
</ba-card>
