.modal {
  padding-top: 10px;

  .modal-content {
    color: #000000;

    .modal-header {
      border: none;
    }

    .modal-footer {
      border: none;
    }

    .close {
      outline: none;
    }
  }
}

.modal-buttons .btn {
  margin-right: 20px;
}

.users-table {
  width: 100%;

  thead {

  }

  tbody {
    tr:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    td {
      padding: 10px 10px 10px 10px;

      .label {
        background-color: #00abff;
        //border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 4px;
        padding: 2px 4px 2px 4px;
        margin: 1px 3px 1px 3px;
      }
    }
  }

  .operation {
    button {
      margin-left: 10px;
      float: right;
    }
  }
}

.user-roles-table {
  width: 100%;
  tbody {
    tr:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    .selected {
      background-color: rgba(0, 0, 0, 0.7);
    }

    td {
      padding: 10px 10px 10px 10px;
    }
  }
}
