<div class="row">
  <ba-card title="操作">
    <button class="btn btn-info" (click)="newUserModal.show()">添加用户</button>
  </ba-card>
</div>

<div class="row">
  <ba-card>

    <table class="users-table">
      <thead>
      <tr>
        <th>用户名</th>
        <th>登录标识</th>
        <th>角色</th>
        <th align="center">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.userName}}</td>
        <td>
          <span *ngFor="let role of user.roles" class="label">{{role.name}}</span>
        </td>
        <td class="operation">
          <button class="btn btn-danger btn-sm" (click)="deleteUser(user)">删除</button>
          <button class="btn btn-info btn-sm" (click)="editUser(user)">编辑</button>
          <button class="btn btn-success btn-sm" (click)="addRole(user)">修改角色</button>
        </td>
      </tr>
      </tbody>
    </table>
  </ba-card>
</div>

<div class="modal fade" bsModal #newUserModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="newUserModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">添加用户</h4>
      </div>
      <div class="modal-body">
        <ba-card>
          <div class="row">
            <form class="form-horizontal" [formGroup]="newUserForm">
              <div class="form-group row">
                <label for="name" class="col-md-2 form-control-label">昵称</label>
                <div class="col-md-10">
                  <input formControlName="name" id="name" class="form-control" type="text" required>
                </div>
              </div>

              <div class="form-group row">
                <label for="userName" class="col-md-2 form-control-label">登录名</label>
                <div class="col-md-10">
                  <input formControlName="userName" id="userName" class="form-control" type="text" required>
                </div>
              </div>

              <div class="form-group row">
                <label for="password" class="col-md-2 form-control-label">密码</label>
                <div class="col-md-10">
                  <input formControlName="password" id="password" class="form-control" type="password" required>
                </div>
              </div>

            </form>
          </div>
        </ba-card>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="newUserModal.hide(); createUser()" [disabled]="!newUserForm.valid">提交</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #addRoleModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="addRoleModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">设置用户角色</h4>
      </div>
      <div class="modal-body">
        <ba-card [title]="selectedUser.name" *ngIf="selectedUser != null">
          <table class="user-roles-table">
            <tbody>
            <tr *ngFor="let role of roleList" role="button" [ngClass]="{'selected': role.enable}" (click)="updateUserRole(role)">
              <td>{{role.name}}</td>
            </tr>
            </tbody>
          </table>
        </ba-card>
      </div>
    </div>
  </div>
</div>
