<div class="row">
  <ba-card title="操作">
    <button class="btn btn-default" (click)="newUserModal.show()">添加用户</button>
  </ba-card>
</div>

<div class="row">
  <ba-card title="搜索">

  </ba-card>
</div>

<div class="row">
  <ba-card title="用户信息">
    <table class="info-table">
      <thead>
      <tr>
        <th>用户号</th>
        <th>用户名</th>
        <th>角色</th>
        <th>学院</th>
        <th>专业</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">

      </tr>
      </tbody>
    </table>
  </ba-card>
</div>

<div class="modal fade" bsModal #newUserModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="newUserModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">添加用户</h4>
      </div>
      <div class="modal-body">
        <user-form></user-form>
      </div>
    </div>
  </div>
</div>
