.border {
  position: fixed;
  height: 90%;
  width: 83%;
  margin-top: 20px;
}

.operation {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
}

.list {
  width: 25%;
  height: 90%;
  float: left;
  overflow-y: auto;

  background-color: rgba(0, 0, 0, 0.3);
  //color: #000000;

  .list-item {
    height: 45px;
    border-bottom: 1px solid lightgray;
  }

  .list-item:hover {
    background-color: lightgray;
    color: #000000;
  }

  .list-item-selected {
    background: lightskyblue;
    color: #000000;
  }
}

.info {
  width: 75%;
  height: 90%;
  float: right;
  border: 1px solid rgba(255, 255, 255, 0.5);
  overflow-y: auto;
  padding: 30px 30px 30px 30px;

  .tips {
    color: #000000;
    position: absolute;
    top: 45%;
    left: 60%;
    margin-top: -15px;
    margin-left: -135px;
    font-size: 30px;
  }
}

.modal {
  padding-top: 10px;

  .modal-content {
    color: #000000;

    .modal-header {
      border: none;
    }

    .modal-footer {
      border: none;
    }

    .close {
      outline: none;
    }
  }

  .student-list {
    max-height: 500px;
    overflow-y: auto;
    //background-color: lightgray;
    //color: #000000;

    .list-item {
      height: 45px;
      border-bottom: 1px solid lightslategray;
    }

    .list-item:hover {
      background-color: lightblue;
      color: #000000;
    }

    .list-item-selected {
      background: lightskyblue;
      color: #000000;
    }
  }
}

.modal-buttons .btn {
  margin-right: 20px;
}

.detail {
  width: 100%;
  border: 1px solid black;

  font-size: 15px;

  td {
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
  }

  .center {
    text-align: center;
  }

  .info-cell {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
  }

  .label {
    background-color: #00abff;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
    margin: 1px 3px 1px 3px;
  }
}
